.parent {
    margin-bottom: 40px;
}

body{
    margin:20px;
}

.text-center {
    text-align: center;
}

#quizBody {
   padding: 30px;
}

.hide {
    display: none;
}

.show {
    visibility: visible;
}

.break {
    border-top: gray solid 1px;
}

.button {
    border: gray 1px solid;
    width: 40px;
    padding: 5px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: gray;
    color: white;
}

.answers {
    padding: 5px;
    margin-bottom: 20px;
    text-align: left;
}

/* .card1{
    background-color: red;
}

.card2{
    background-color: blue;
} */